.container {
    height: 100vh;
}

.signup-card {
    width: 57vw;
}

.title-style {
  color: #5b94ff;
  font-size: 4vh;
  margin-top: 2vh;
  margin-bottom: 7vh;
}

.signup-label {
    float: left;
}

.signup-form {
    width: 75%;
}