.navbar {
    background-color: #d5dae7 !important;
}

.navSiteName {
    color: #528af1;
    font-size: 150%;
    font-weight: 600;
}

.active-link {
    font-weight: 700;
    color: #475dd8 !important; 
}

.nav-link {
    color: #15203f;
}

.nav-link:hover {
  text-shadow: 2px 2px 10px #3557b6;
  color:#526af1
}

.dropdown-item:hover {
    background-color: #3557b6;
}

.dropdown-menu{
    background-color: #ced1e0 !important;
    color: #ffffff !important;
}

.btnb {
    border: 1px solid #528af1;
    border-radius: 3px;
    background-color: #c3d6ff;
    color: #3971d8;
}

.btnb:hover {
    border: 1px solid #528af1;
    border-radius: 3px;
    background-color: #528af1;
    color: #ffffff;
}