.navbar {
    background-color: #d5dae7 !important;
}

.navSiteName {
    color: #528af1;
    font-size: 150%;
    font-weight: 600;
}

.active-link {
    font-weight: 700;
    color: #475dd8 !important; 
}

.nav-link {
    color: #15203f;
}

.nav-link:hover {
  text-shadow: 2px 2px 10px #3557b6;
  color:#526af1
}

.btnb {
    border: 1px solid #528af1;
    border-radius: 3px;
    background-color: #c3d6ff;
    color: #3971d8;
}

.btnb:hover {
    border: 1px solid #528af1;
    border-radius: 3px;
    background-color: #528af1;
    color: #ffffff;
}

.logo {
    height: 50px;
    padding: 0.5rem;
}

#nav_dropdown {
    margin: 0 0.8rem;
    color: #3d3b3b;
}

#nav_email {
    color: #3d3b3b;
    margin-right: 0.5rem;
}

#nav_dropdown:hover , #nav_dropdown:hover b {
  color:#526af1;
  text-shadow: 0;
}

#navbar_user_dropdown {
    left: auto;
    background-color: white;
    min-width: 13vw;
    justify-content: center;
    border-radius: 1;
}

#dropdown_line{
    margin: 10px 0;
}

#account_link:hover {
    font-weight: 600;
}

#logout_btn {
    border-color: white;
    padding: 0 0;
}

#logout_btn:hover {
    background-color: white;
    font-weight: 600;
    color: red;
}